.recent {
  margin: 24px 0;
  .title {
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    margin-bottom:   24px;
    .text {
      display:         flex;
      align-items:     center;
      justify-content: flex-start;
      .icon {
        width:        16px;
        margin-right: 8px;
      }
      h3 {
        margin-bottom: 0;
      }
    }
    .find {
      label {
        position: relative;
        img {
          position:  absolute;
          right:     12px;
          top:       50%;
          width:     12px;
          transform: translate(0, -50%);
        }
      }
    }
  }
  .items {
    .item {
      border-top:      1px solid #707070;
      padding:         16px;
      display:         flex;
      align-items:     center;
      justify-content: flex-start;
      .icon {
        width:           32px;
        height:          32px;
        border-radius:   50%;
        border:          1px solid #2F3135;
        margin-right:    16px;
        font-size:       14px;
        display:         flex;
        align-items:     center;
        justify-content: center;
      }
      h4 {
        font-size:     13px;
        margin-bottom: 0;
        margin-right:  8px;
      }
      p {
        font-size:     13px;
        margin-bottom: 0;
      }
      .setting {
        padding:         10px;
        width:           36px;
        position:        relative;
        display:         flex;
        align-items:     center;
        justify-content: center;
        margin-left:     auto;
        cursor:          pointer;
        user-select:     none;
        &:hover, &:active {
          img {
            opacity: .7;
          }
          ul {
            display: block;
          }
        }
        ul {
          display:       none;
          position:      absolute;
          z-index:       1;
          bottom:        0;
          right:         0;
          border:        1px solid #303236;
          background:    #222326;
          border-radius: 3px;
          padding:       8px 12px;
          transform:     translate(0, 100%);
          min-width:     76px;
          li {
            font-size: 13px;
            &:hover, &:active {
              opacity: .7;
            }
            &:not(:last-child) {
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 566.98px) {
  .recent {
    .title {
      flex-direction: column;
      align-items:    flex-start;
      .text {
        margin-bottom: 16px;
      }
      .find {
        width:     100%;
        max-width: 400px;
      }
    }
    .items {
      .item {
        padding: 12px 4px;
      }
    }
  }
}
