.new {
  padding: 24px 0;
  .content {
    display:       flex;
    align-items:   flex-start;
    flex-wrap:     wrap;
    border-bottom: 1px solid #303236;
  }
  .item {
    border-radius:   3px;
    border:          1px solid #303236;
    padding:         16px;
    background:      #222326;
    max-width:       321px;
    width:           100%;
    display:         flex;
    align-items:     center;
    justify-content: flex-start;
    cursor:          pointer;
    transition:      .2s linear;
    margin-right:    24px;
    margin-bottom:   24px;
    &:hover, &:active {
      border: 1px solid #fff;
    }
    img {
      width:        40px;
      margin-right: 16px;
    }
    .info {
      p {
        margin-bottom: 0;
      }
    }
  }
}

