.recommended {
  margin: 24px 0 0 0;
  .title {
    display:         flex;
    align-items:     flex-start;
    justify-content: flex-start;
    margin-bottom:   22px;
    .text {
      display:         flex;
      align-items:     flex-start;
      justify-content: flex-start;
      .icon {
        width:        16px;
        margin-right: 6px;
        position:     relative;
        top:          2px;
      }
      .info {
        margin-right: 10px;
        p {
          margin-bottom: 0;
        }
      }
    }
    .view {
      display:         flex;
      align-items:     flex-start;
      justify-content: flex-end;
      margin-left:     auto;
      span {
        border:          1px solid #303236;
        margin-left:     8px;
        border-radius:   3px;
        font-size:       11px;
        font-weight:     600;
        color:           #9DA3AA;
        box-shadow:      0 1px 2px rgba(0, 0, 0, 0.06);
        min-width:       28px;
        min-height:      28px;
        display:         flex;
        align-items:     center;
        justify-content: center;
        cursor:          pointer;
        transition:      .2s linear;
        &:hover, &:active {
          border: 1px solid #fff;
        }
      }
      .all {
        min-width: 76px;
      }
      .close {
        img {
          width: 8px;
        }
      }
    }
  }
  .items {
    display:         flex;
    align-items:     flex-start;
    justify-content: space-between;
    flex-wrap:       wrap;
    .item {
      width:         23%;
      box-shadow:    0 1px 3px rgba(0, 0, 0, 0.06);
      margin-bottom: 16px;
      cursor:        pointer;
      transition:    .2s linear;
      &:hover {
        opacity: 1;
        .image {
          .cover {
            opacity:    1;
            visibility: visible;
          }
        }
      }
      &:nth-child(1) {
        .image {
          background: #000000;
        }
      }
      &:nth-child(2) {
        .image {
          background: #7786C0;
        }
      }
      &:nth-child(3) {
        .image {
          background: #000000;
        }
      }
      &:nth-child(4) {
        .image {
          background: #D3689A;
        }
      }
      .image {
        display:         flex;
        align-items:     center;
        justify-content: center;
        height:          137px;
        border-radius:   3px;
        overflow:        hidden;
        margin-bottom:   16px;
        position:        relative;
        .cover {
          position:        absolute;
          left:            0;
          top:             0;
          width:           100%;
          height:          100%;
          background:      rgba(17, 19, 20, 0.9);
          display:         flex;
          align-items:     center;
          justify-content: center;
          opacity:         0;
          visibility:      hidden;
          transition:      .2s linear;
          a {
            margin: 0 3px;
          }
        }
        img {
          object-fit: contain;
          max-height: 100%;
          max-width:  100%;
        }
      }
      .description {
        p {
          font-size:     13px;
          color:         #D4DAE0;
          margin-bottom: 0;
        }
      }
      .user {
        display:         flex;
        align-items:     center;
        justify-content: flex-start;
        margin-bottom:   4px;
        h5 {
          font-size:     11px;
          font-weight:   500;
          color:         #777B81;
          margin-bottom: 0;
        }
        img {
          width:        18px;
          margin-right: 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .recommended {
    .items {
      .item {
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: 566.98px) {
  .recommended {
    .title {
      flex-direction: column;
      .text {
        margin-bottom: 16px;
      }
    }
    .items {
      .item {
        width: 100%;
      }
    }
  }
}
