@import "./assets/scss/variables";
@import "./assets/scss/main";

*, *:after, *:before {
  margin:      0;
  padding:     0;
  box-sizing:  border-box;
  outline:     none;
  color:       #D4DAE0;
  font-family: Popins, sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  color:           #D4DAE0;
  text-decoration: none;
  cursor:          pointer;
  font-size:       1.125rem;
  line-height:     1.39;
  transition:      .2s linear;
  &:hover, &:active {
    opacity: .7;
  }
}

body, html {
  margin:  0;
  padding: 0;
  height:  100%;
}

html {
  font-size: 16px;
}


h3 {
  font-size:     16px;
  font-weight:   600;
  line-height:   1.28;
  margin-bottom: 4px;
}

h4 {
  font-size:     14px;
  font-weight:   600;
  line-height:   1.28;
  margin-bottom: 4px;
}

p {
  font-weight:   400;
  font-size:     12px;
  line-height:   1.28;
  margin-bottom: 12px;
  color:         #9DA3AA;
}

input, textarea, select {
  width:            100%;
  border:           1px solid #3C3E41;
  padding:          8px 12px;
  font-size:        12px;
  line-height:      1.36;
  color:            #9DA3AA;
  background-color: transparent;
  box-shadow:       0 1px 2px rgba(0, 0, 0, 0.06);
  transition:       .2s linear;
  min-width:        236px;
  &::placeholder {
    color: #728387;
  }
  &:hover, &:focus {
    border: 1px solid #fff;
  }
}

textarea {
  margin: 0.25rem 0 1.5rem 0;
}

select {
  cursor: pointer;
  transition:       .2s linear;
  &:active, &:hover {
    opacity: .7;
  }
}

iframe {
  width: 100%;
}

#root {
  height: 100%;
}

button {
  cursor:      pointer;
  font-size:   1rem;
  line-height: 1;
  font-weight: 600;
}

.btn {
  border:          none;
  padding:         6px;
  border-radius:   3px;
  background:      #1055E0;
  min-width:       76px;
  box-shadow:      0 1px 2px rgba(0, 0, 0, 0.06);
  font-size:       11px;
  display:         inline-flex;
  text-align:      center;
  justify-content: center;
  transition:      .2s linear;
  &:hover, &:active {
    opacity: .7;
  }
  &-second {
    background: #303236;
    color:      #9DA3AA;
  }
}

.no-scroll {
  overflow: hidden;
}

.d-none {
  display: none !important;
}

.container {
  width:     100%;
  max-width: 1040px;
  margin:    0 auto;
  padding:   0 15px;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}